@font-face {
  font-family: "Public Sans";
  src: url(/static/PublicSans-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Public Sans";
  src: url(/static/PublicSans-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Public Sans";
  src: url(/static/PublicSans-Bold.ttf) format("truetype");
  font-weight: 700;
}

:root {
  /* ==== colours ==== */
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white-color: hsl(0, 100%, 100%);
  --dark-color: hsl(0, 0%, 15%);
  --footer-blue: hsl(233, 26%, 24%);
  --dull-dark: hsl(0, 0%, 40%);
  --gray: hsl(233, 8%, 62%);

  /* ==== gradients ==== */
  --btn-gradient: linear-gradient(
    to top right,
    hsl(192, 69%, 51%),
    hsl(136, 64%, 51%)
  );

  /* ==== sizes and units ==== */
  --container: 1120px;
  --gutter: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--gray);
  min-width: 21rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}

#backdrop {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(26, 37, 63, 0.7),
    rgba(149, 149, 156, 0.4)
  );
  transition: opacity 2s ease-out, visibility 2s ease-out;
}

#backdrop.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: min(var(--container), 100% - (var(--gutter) * 2));
  margin-inline: auto;
}

#header {
  background-color: var(--gray-50);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

#nav {
  background-color: var(--white-color);
  position: relative;
  z-index: 30;
}

.nav__items {
  align-items: center;
  display: none;
}

.nav__item {
  list-style-type: none;
}

.nav__button {
  display: none;
}

.nav__link {
  text-decoration: none;
  color: var(--gray);
  padding-block: 1.25rem;
  margin-inline: 0.5rem;
  font-size: 1em;
}

.nav__link:hover,
.nav__link:active {
  color: var(--dark-color);
  border-bottom: 3px solid hsl(136, 64%, 51%);
}

.hamburger_menu {
  color: var(--dark-color);
  cursor: pointer;
  text-align: center;
  font-size: 1.07rem;
}

.request_invite {
  color: var(--white-color);
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  background: var(--btn-gradient);
  border-radius: 25px;
  font-size: small;
  display: inline-block;
}

.request_invite:active {
  filter: brightness(1.15);
  transform: translate(0.5px, 1px);
}

.request_invite:hover {
  filter: brightness(1.15);
}

.intro__bg-image {
  background: url(./images/bg-intro-mobile.svg) left 0% bottom 30% / 100%
    no-repeat;
  margin-inline: -24px;
  height: clamp(18rem, 90vw, 27rem);
  padding: 0 1rem;
  position: relative;
}

.intro__mockup {
  max-width: 100%;
  height: auto;
  transform: translateY(-32vw);
}

.intro__mockup.hidden {
  display: none;
}

#mobile__nav {
  background-color: var(--white-color);
  width: 85%;
  height: 80%;
  position: absolute;
  top: 26px;
  inset-inline: 0;
  margin: auto;
  z-index: 50;
  padding: 2rem;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

#mobile__nav.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scaleX(0);
  visibility: hidden;
}

.mobile__nav-lists {
  width: 100%;
  height: 100%;
  max-height: 17rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.mobile__nav-link {
  text-decoration: none;
  color: var(--dark-color);
  padding: 0.5rem 1rem;
}

.mobile__nav-link:hover,
.mobile__nav-link:active {
  color: hsl(136, 64%, 51%);
}

.header__title {
  text-align: center;
  padding: 0 1rem;
}

.header__title h1 {
  color: var(--dark-color);
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.header__title p {
  font-weight: 300;
  margin-bottom: 2rem;
}

.intro__button {
  padding-bottom: 2rem;
}

.section {
  transition: all 1s ease-out;
}

.hide-section {
  opacity: 0;
  transform: translateY(6rem);
}

#bank__quality {
  text-align: center;
  padding-block: 3.5rem;
  background-color: var(--gray-100);
}

.quality__heading {
  margin: 1rem;
}

.quality__title {
  color: var(--dark-color);
  margin: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}

.quality__heading p {
  margin: 0 auto;
  max-width: 36rem;
}

#bank__quality p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.qualities {
  display: grid;
  margin-top: 1rem;
}

.quality__card {
  padding: 0.8rem;
  max-width: 450px;
  margin: 0 auto;
}

.qualities h2 {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 1.2em;
  margin-block: 1.5rem;
}

.quality__card img {
  margin: 1rem 0;
}

#bank__articles {
  background-color: var(--gray-50);
}

.bank__article--container {
  padding-block: 3rem;
}

.latest__article {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.articles {
  display: grid;
  padding-top: 1rem;
}

.article__card {
  background-color: var(--white-color);
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
  max-width: 450px;
  margin: 0 auto;
}

.article__img img {
  width: 100%;
  height: 13rem;
}

.author {
  font-size: 0.7em;
}

.article__text {
  padding: 1.2rem 1.7rem;
}

.article__heading {
  font-size: 1.1em;
  color: var(--dark-color);
  font-weight: 400;
  margin-top: 1rem;
}

.article__heading:hover,
.article__heading:active {
  color: hsl(136, 64%, 51%);
  cursor: pointer;
}

.article__heading + p {
  font-size: 1em;
  margin: 0.5rem 0;
  letter-spacing: -0.2px;
}

footer {
  background-color: var(--footer-blue);
  font-size: 0.9em;
}

.footer__container {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer_logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer_logos > img {
  margin-bottom: 1rem;
}

.social_contacts {
  margin: 1rem 0;
}

.social_contacts img {
  margin: 0 0.3rem;
}

.pages__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages__link a:hover,
.pages__link a:active {
  color: hsl(136, 64%, 51%);
}

.pages__link div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pages__link a {
  color: var(--white-color);
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 300;
}

.copyright__div {
  text-align: center;
}

.footer__btn {
  margin: 1.5rem 0;
}

/* ======= Media Queries ======= */

/* tablet view 480px */
@media (min-width: 30rem) {
  .intro__bg-image {
    height: clamp(23rem, 80vw, 38rem);
    background: url(./images/bg-intro-mobile.svg) left 0% bottom 40% / 100%
      no-repeat;
    padding: 0 3rem;
  }

  .intro__mockup {
    transform: translateY(-28.5vw);
  }
}

/* === tablet view 528px */
@media (min-width: 33rem) {
  .qualities {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    column-gap: min(2.5vw, 25px);
  }

  .quality__card {
    padding-left: 0;
  }

  .articles {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: min(2.5vw, 25px);
  }

  .footer__container {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .pages__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15rem;
    margin-inline: 2rem;
  }

  .pages__link a {
    padding: 0 0.5rem 0.5rem;
    margin-block: 0 0.5rem;
    vertical-align: top;
  }
}

@media (min-width: 40rem) {
  .pages__link div {
    text-align: left;
  }
}

/* ====== when the screen width passes 768px ======= */
@media (min-width: 48rem) {
  .nav__container {
    padding-inline: 0;
  }

  .nav__items {
    display: flex;
  }

  .nav__button {
    display: block;
  }

  .hamburger_menu,
  #mobile__nav,
  #backdrop {
    display: none;
  }

  .header__intro {
    display: flex;
    flex-direction: row-reverse;
    column-gap: min(4vw, 70px);
    align-items: center;
    height: clamp(430px, 40vw, 530px);
    padding: 0;
  }

  .intro__bg-image {
    background: url(./images/bg-intro-desktop.svg) 12% 75% / 160% no-repeat;
    height: 100%;
    padding: 0;
    overflow-x: clip;
    margin-inline: 0 -24px;
    flex: 1.2;
  }

  .intro__mockup {
    transform: translate(7vw, -10vw);
    height: auto;
    margin-left: auto;
  }

  .header__title {
    text-align: left;
    padding: 0;
    flex: 1;
  }

  .header__title p {
    max-width: 400px;
    line-height: 1.5;
  }

  .quality__heading {
    margin: 0;
  }

  .qualities {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .articles {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .article__text {
    padding: 1.4rem 1.2rem;
  }

  .footer__container {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }

  .pages__link {
    flex: 1;
    align-self: flex-start;
  }

  .copyright__div {
    text-align: right;
    flex: 1.2;
    align-self: flex-start;
  }

  .footer__btn {
    margin-top: 0;
  }
}

/* ====== when the screen width passes 960px ======= */

@media (min-width: 60rem) {
  body {
    font-size: 1.125rem;
  }

  .nav__link {
    margin-inline: 0.7rem;
  }

  .intro__bg-image {
    background: url(./images/bg-intro-desktop.svg) 15% 75% / 140% no-repeat;
  }

  .intro__mockup {
    transform: translate(8vw, -11vw);
  }

  #bank__quality {
    text-align: left;
  }

  .quality__heading p {
    white-space: pre-line;
    margin: 0;
    max-width: 100%;
  }

  .latest__article {
    text-align: left;
  }
}

@media (min-width: 1120px) {
  .intro__bg-image {
    margin-right: calc(50% - (50vw - 7.5px));
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
